services:
  app:
    image: webdevops/php-nginx:8.3
    working_dir: /app
    volumes:
      - ./backend:/app
    environment:
      WEB_DOCUMENT_ROOT: /app/public
    ports:
      - "8000:80"
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: schoolteam
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
